extends layout
include utils.pug
block content
  form(action='/users/comments' method='post')
    div(class="user-comment-container")
    +field("Comment: ", "content", comment.content)
    +field("userId: ", "userId", comment.userId)
    +field("postId: ", "postId", comment.postId)
    input(type="submit" value="Submit")
  div(class="comments")