extends layout.pug

include utils.pug
block content
    div.content-container
        h1.title Comments
            each comment in allComments
                div.post-container
                    div.post-title-preview
                        div.content-preview
                            h2= comment.content
                        div.user-posted
                            p(post-container__user-font) posted by user: 
                                span #{comment.user.username}
                    hr