doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous")

    link(rel="stylesheet" href="/stylesheets/layout.css")
    link(rel="stylesheet" href="/stylesheets/login.css")

    title Homepage
  body


    header(class='main-nav')
      nav(class='navbar')
        div
          a(class='navbar__home' href='/') Red
            span(class='navbar__home--second-word') App
        ul(class='navbar__links')
          if locals.authenticated
            li
              span()
            li
              a(class='navbar__create-post-button remove-underline' href='/posts/create-post')
                  <i class="fas fa-pen-square spacing-icon"></i>
                  span Create
            li
              a(class='navbar__profile-button remove-underline' href='/users/profile')
                <i class="fas fa-user spacing-icon"></i>
                span #{user.username}
            li
              a(class='navbar__logout-button remove-underline' href='/users/logout')
                  <i class="fas fa-sign-out-alt spacing-icon"></i>
                  span Logout
          else
            li(class='')
              a(class='navbar__log-in-button remove-underline' href='/users/login')
                <i class="fas fa-sign-in-alt spacing-icon"></i>
                span Log In
            li(class='')
              a(class='navbar__sign-up-button remove-underline' href='/users/sign-up')
                <i class="fas fa-user-plus spacing-icon"></i>
                span Sign Up
            li
              a(class='navbar__demo-button remove-underline' href='/users/demo')
                  <i class="fas fa-id-card-alt spacing-icon"></i>
                  span Demo
    .container
        //- h2(class='py-4') #{title}
        block content
    //- script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous') script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous') script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
