extends layout.pug
include utils.pug

block styles
  link(rel="stylesheet" href="/stylesheets/footer.css")

block content

  div(class='login-container')
    h2(class='sign-in-title') Sign In
    +validationErrorSummary(errors)
    form(action='/users/login' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      +fieldLoginSignup('Username', 'username', username, false )
      +fieldLoginSignup('Password', 'password', null, 'password', false )
      div(class='login-button-container')
        button(type='submit' class='login-button') Login
        //- a(href='/' class='btn btn-warning ml-2') Cancel

        div(class='go-to-signup') Don't have an
          a( href='/users/sign-up')   account?

  footer.footer-distributed
    .footer-left
      p ReddApp &copy; 2021
