extends layout.pug
include utils.pug
block styles
     link(rel="stylesheet" href="/stylesheets/create-post.css")
block content
    div.post-content-container
        p
            i(class='user-create-post')=`Posted by ${user.username}`
        form(action='/posts/create-post' method='post')
            include post-form-fields.pug
            div(class='py-4')
            button(type='submit' class='btn btn-primary') Add Post
