extends layout.pug



block content
  append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/profile.css")
  //- add page specific js
  //- script(src="/javascripts/index.js" type="module" defer)
  header
  main
    div.container-card
      div.card
        img(class='profile-image' src='../images/default-profile-picture1.jpg' alt="profile img")
        div.user-info-container
          div.user-info-container__details
            div=user.username
            div.profession Software Engineer
            div.location Los Angeles, CA
          div.user-details__buttons
            button.view-follow Follow
