* {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.85);
    background-color: #f9f9f9;

}
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
button:hover,
button:focus,
button:active {
    cursor: pointer;
    background-color: #ecf0f1;
}
.comment-thread {
    width: 750px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding: 20px;
    background-color: #fff;
    border: 1px transparent; /* Removes margin collapse */
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.comment-header {
    font-size: 24px;
    font-weight: bold;
    color: gray;
}
.comment-content {
    font-size: 15px;
}

#comment-submission-form {
    width: 700px;
    max-width: 100%;
    margin: auto;
    padding: 0 0px;
    background-color: #fff;
    border: 1px solid transparent;
}
.comment-submit {
    margin-top: 6px;
    border-radius: 16px;
    border: 1px solid #ffffff;
    cursor: pointer;
    padding: 2px;
    color: white;
    background-color: #b97575;
    width: 8rem;
    height: 2.6rem;
    font-size: small;
    font-family:'Roboto',sans-serif;

}
.comment-submit:hover {
    background-color: rgb(185, 148, 148);
}


.comment-thread-responses {
    width: 750px;
    max-width: 100%;
    margin: auto;
    margin-top: 6px;
    padding: 0 0px;
    background-color: #fff;
    border: 1px solid transparent; /* Removes margin collapse */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 16px;

}

.m-0 {
    margin: 0;
}
.sr-only {
    position: absolute;
    left: -1px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Comment */

.comment {
    position: relative;
    margin: 20px auto;
}
.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}

.comment-heading-responses {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    align-items: center;
    height: 50px;
    font-size: 25px;
    overflow: hidden;
    height:auto;
}

.comment-voting {
    width: 20px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.comment-voting button {
    display: block;
    width: 100%;
    height: 50%;
    padding: 0;
    border: 0;
    font-size: 10px;
}
.comment-info {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.comment-info-responses {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
.comment-author {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    text-decoration: none;
}

.comment-author-responses {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    text-decoration: none;
}

.comment-author:hover {
    text-decoration: underline;
}
.replies {
    margin-left: 20px;
}

.button3{
display:inline-block;
height: 25px;
width: 80px;
font-size: 12px;
padding:0.3em 0.3em;
padding-top: 4px;
margin:0 0.3em 0.3em 0;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color:#4eb5f1;
text-align:center;
transition: all 0.2s;
margin-top: 12px;
}
.button3:hover{
background-color:#4095c6;
}
@media all and (max-width:30em){
 .button3{
display:block;
margin:0.2em auto;
}
}
.comment-body {
    word-wrap: break-word;

}
.form-control {
    width: 100%;
}
