* {
    box-sizing: border-box;
}

.body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.85);
    background-color: #f9f9f9;

}

button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

button:hover,
button:focus,
button:active {
    cursor: pointer;
    background-color: #ecf0f1;
}

.post-content-container {
    width: 750px;
    max-width: 100%;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border: 1px transparent; /* Removes margin collapse */
    border-radius: 15px;
}

.form-container {
    width: 700px;
    max-width: 100%;
    margin: auto;
    padding: 0 0px;
    background-color: #fff;
    border: 1px solid transparent;
}

@media all and (max-width:30em){
     #content {
    display:block;
    margin:0.2em auto;
    }
    }
