* {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.85);
    background-color: #f9f9f9;

}

.remove-post {
    width: 750px;
    max-width: 100%;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border: 1px transparent; /* Removes margin collapse */
    border-radius: 15px;
}
